[Desktop Entry]
Version=1.0
Type=Application
Name=ROG Control Center
Comment=Manage performance, battery, lighting and hardware on your ASUS laptop
Categories=Settings;HardwareSettings;

Icon=rog-control-center
Exec=rog-control-center
Terminal=false
StartupWMClass=org.opengamingcollective.ROGControlCenter
